body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.App{
  width:350px;
  margin: 150px auto;
  background-color:#ffff;
  text-align:center;
  margin-top: 30vmin;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

h1{
  font-size: 60px;
  margin-bottom: 25px;

}

.Counter{
  font-size:  60px;
  margin-bottom: 40px;
}

button{
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding: 10px 20px;
  margin: 0 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.Buttons{
  display: flex;
  justify-content: center;
  gap: 60px;
}

.Increase{
  background-color: #4CAF50;
}
.Decrease{
  background-color: #f44336;
}

.button:hover{
  opacity: 0.8;
}